[submodule "web/vendor/MPLUS_FONTS"]
	path = web/vendor/MPLUS_FONTS
	url = git@github.com:coz-m/MPLUS_FONTS.git
[submodule "web/vendor/highlight.js"]
	path = web/vendor/highlight.js
	url = git@github.com:highlightjs/highlight.js.git
[submodule "web/vendor/highlightjs-line-numbers.js"]
	path = web/vendor/highlightjs-line-numbers.js
	url = git@github.com:wcoder/highlightjs-line-numbers.js.git
