@font-face {
  font-family: "Mplus Code";
  src: url("./MplusCodeLatin[wdth,wght].ttf") format("truetype");
}

body {
  background-color: #404040;
  font-family: 'Mplus Code', sans-serif;
  margin: 0;
}

pre header {
  user-select: none;
  margin: 1em;
}

hr {
  margin: 1em;
}

main {
  display: inline-flex;
  min-width: 100%;
  justify-content: center;
}

.paste {
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  background-color: #0d1117;
  box-shadow: 0 0 1em black;
  min-width: 120ch;
}

.hljs {
  font-family: 'Mplus Code', sans-serif;
}

.hljs-ln td.hljs-ln-numbers {
  text-align: right;
  padding-right: 1em;
}

.centered {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-anyways {
  margin-bottom: 4em;
  text-decoration: underline;
}

img {
  margin-bottom: 4em;
}

.primary {
  background-color: #0d1117;
}

.image {
  display: block;

  a {
  }
}